@import "variables";
@import "../valo/valo";
@import "addons";
@import "../../../VAADIN/addons/gantt/gantt-valo.scss";

.brigades {
  @include valo;
  @include addons;
  @include gantt-valo;

  .valo-menu {
    border-right: none;

    .badgewrapper {
      position: relative;
      padding: 0 !important;
    }

    .v-ddwrapper {
      display: block;
    }
  }

  .valo-menu-title {
    line-height: 1.2;
  }

  .valo-menu-item {
    overflow: hidden;
  }

  .valo-menu .valo-menu-badge,
  .dashboard-view .notifications.unread .v-button-caption {
    @include valo-badge-style;
    position: absolute;
    right: round($v-unit-size/3);
    font-size: round($v-font-size * 0.9);
    pointer-events: none;
  }

  .dashboard-view .notifications.unread .v-button-caption {
    display: block;
    top: round($v-unit-size / -5);
    right: round($v-unit-size / -5);
    display: block;
    z-index: 1;
  }

  .v-grid-cell.align-right {
    text-align: right;
  }

  .v-grid-cell {
    color: black;
    border-color: #d4d4d4;
  }

  .v-grid-row-selected > .v-grid-cell {
    border-color: #d4d4d4;
  }

  //span.et-default, span.et-normal {
  //  color: $v-task-default-color;
  //}
  //span.et-info {
  //  color: $v-task-info-color-progress;
  //}
  //span.et-inwork {
  //  color: $v-task-inwork-color-progress;
  //}
  //span.et-success {
  //  color: $v-task-success-color-progress;
  //}
  //span.et-warning {
  //  color: $v-task-warning-color-progress;
  //}
  //span.et-emergency {
  //  color: $v-task-emergency-color-progress;
  //}
  //span.et-plan {
  //  color: $v-task-plan-color-progress;
  //}

  .et-normal.v-button,
  .et-default.v-button,
  .et-info.v-button,
  .et-inwork.v-button,
  .et-success.v-button,
  .et-emergency.v-button,
  .et-warning.v-button,
  .et-plan.v-button {
    color: black;
  }

  .et-normal.v-button-primary:after,
  .et-default.v-button-primary:after,
  .et-info.v-button-primary:after,
  .et-inwork.v-button-primary:after,
  .et-success.v-button-primary:after,
  .et-emergency.v-button-primary:after,
  .et-warning.v-button-primary:after,
  .et-plan.v-button-primary:after {
    border: inherit;
    -webkit-box-shadow: 0 0 0 2px rgba(17, 91, 220, 0.5);
    box-shadow: 0 0 0 2px rgba(17, 91, 220, 0.5);
  }

  .v-table-row.has-child {
    font-weight: bold;
  }

  .valo-menu-part.large-icons .v-menubar-user-menu img.v-icon {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    @if is-dark-color($valo-menu-background-color) {
      border: none;
    }
  }

  // - НОРМА
  .et-normal, .v-grid-row.et-normal > .v-grid-cell, .v-table-cell-content-et-normal,
  .et-default, .v-grid-row.et-default > .v-grid-cell, .v-table-cell-content-et-default,
  .v-calendar.v-calendar-event-et-default, .v-calendar.v-calendar-event-et-normal {
    background-color: $v-task-default-color;
  }
  .v-grid-row-selected.et-normal > .v-grid-cell, .v-grid-row-selected.et-default > .v-grid-cell {
    background-color: #EFEFEF;
    //background-image: -webkit-linear-gradient(top, #EEEEEE 2%, #DDDDDD 98%);
    //background-image: linear-gradient(to bottom, #EEEEEE 2%, #DDDDDD 98%);
    background-image: none;
    color: black;
  }
  .v-menubar-menuitem-et-normal > .v-menubar-menuitem-caption > span.v-icon,
  .v-menubar-menuitem-et-default > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-default-color;
  }
  // - В РАБОТЕ
  .et-inwork, .v-grid-row.et-inwork > .v-grid-cell, .v-table-cell-content-et-inwork,
  .v-calendar-event.v-calendar-event-et-inwork {
    background-color: $v-task-inwork-color;
  }
  .v-grid-row-selected.et-inwork > .v-grid-cell {
    background-color: $v-task-inwork-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-inwork-color-progress 2%, $v-task-inwork-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-inwork-color-progress 2%, $v-task-inwork-color-darken 98%);
    background-image: none;
    color: $v-task-textcolor;
  }
  .v-menubar-menuitem-et-inwork > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-inwork-color;
  }
  // - ИНФОРМАЦИЯ
  .et-info, .v-grid-row.et-info > .v-grid-cell, .v-table-cell-content-et-info,
  .v-calendar.v-calendar-event-et-info {
    background-color: $v-task-info-color;
  }
  .v-grid-row-selected.et-info > .v-grid-cell {
    background-color: $v-task-info-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-info-color-progress 2%, $v-task-info-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-info-color-progress 2%, $v-task-info-color-darken 98%);
    background-image: none;
    color: $v-task-textcolor;
  }
  .v-menubar-menuitem-et-info > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-info-color;
  }
  // - УСПЕХ
  .et-success, .v-grid-row.et-success > .v-grid-cell, .v-table-cell-content-et-success,
  .v-calendar.v-calendar-event-et-success {
    background-color: $v-event-success-color;
  }
  .v-grid-row-selected.et-success > .v-grid-cell {
    background-color: $v-task-success-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-success-color-progress 2%, $v-task-success-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-success-color-progress 2%, $v-task-success-color-darken 98%);
    background-image: none;
    color: $v-task-textcolor;
  }
  .v-menubar-menuitem-et-success > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-success-color;
  }
  // - ВНИМАНИЕ/НЕИСПРАВНОСТЬ
  .et-warning, .v-grid-row.et-warning > .v-grid-cell, .v-table-cell-content-et-warning,
  .v-calendar.v-calendar-event-et-warning {
    background-color: $v-event-warning-color;
  }
  .v-grid-row-selected.et-warning > .v-grid-cell {
    background-color: $v-task-warning-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-warning-color-progress 2%, $v-task-warning-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-warning-color-progress 2%, $v-task-warning-color-darken 98%);
    background-image: none;
    color: $v-task-textcolor;
  }
  .v-menubar-menuitem-et-warning > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-warning-color;
  }
  // - ТРЕВОГА
  .et-emergency, .v-grid-row.et-emergency > .v-grid-cell, .v-table-cell-content-et-emergency,
  .v-calendar.v-calendar-event-et-emergency {
    background-color: $v-event-emergency-color;
  }
  .v-grid-row-selected.et-emergency > .v-grid-cell {
    background-color: $v-task-emergency-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-emergency-color-progress 2%, $v-task-emergency-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-emergency-color-progress 2%, $v-task-emergency-color-darken 98%);
    background-image: none;
    color: $v-task-textcolor;
  }
  .v-menubar-menuitem-et-emergency > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-emergency-color;
  }
  // - В ПЛАНАХ
  .et-plan, .v-grid-row.et-plan > .v-grid-cell, .v-table-cell-content-et-plan,
  .v-calendar.v-calendar-event-et-plan {
    background-color: $v-event-plan-color;
    color: $v-task-plan-textcolor;
    opacity: 1;
  }
  .v-grid-row-selected.et-plan > .v-grid-cell {
    background-color: $v-task-plan-color-progress;
    //background-image: -webkit-linear-gradient(top, $v-task-plan-color-progress 2%, $v-task-plan-color-darken 98%);
    //background-image: linear-gradient(to bottom, $v-task-plan-color-progress 2%, $v-task-plan-color-darken 98%);
    background-image: none;
    color: $v-task-plan-textcolor;
  }
  .v-menubar-menuitem-et-plan > .v-menubar-menuitem-caption > span.v-icon {
    color: $v-task-plan-color;
  }

  .v-panel.et_panel {
    border: valo-border();
    vertical-align: middle;
    min-height: 31px;
    height: 31px;
    color: black;
  }

  .v-label.et_counter {
    border-radius: 3px;
    margin: 2px 2px;
    padding: 2px 2px;
    min-height: 25px !important;
    min-width: 25px !important;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #197de1;
    color: #c8dbed;
  }

  .v-label.et_text {
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    height: 100%;
    line-height: 25px;
    color: inherit;
  }

  .v-grid-row.et-done > td {
    font-weight: normal;
  }

  .v-grid-row.et-undone > td {
    font-weight: bold;
  }

  .v-label.et_icon {
    min-height: 25px !important;
    min-width: 25px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: inherit; //black

    &.clickable:hover {
      color: #115bdc;
    }
  }

  .v-label.et_icon_emergency {
    min-height: 25px !important;
    min-width: 25px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: $v-task-emergency-color; //black
  }

  .v-label-colored {
    color: $v-focus-color;
    text-transform: uppercase;
    //letter-spacing: 5px;
    font-weight: 700;

  }

  .v-calendar-event {
    cursor: default;
  }

  .v-calendar-header-week .v-calendar-header-day {
    cursor: default;
  }

  .v-calendar-header-day {
    text-align: left;
  }

  // линия текущего времени
  .v-calendar-current-time {
    height: 2px;
    background: red;
  }
  .v-calendar-current-time:before {
    color: red;
    font-size: 24px;
  }

  .v-calendar-event-caption {
    color: $v-font-color;
    // избавляемся от лишнего перевода строки (br)
    top: -1.15em;
  }
  // не показываем время по умолчанию, выводим его вместе с адресом
  .v-calendar-event-caption span {
    display: none;
  }

  .v-calendar-week-wrapper .v-calendar-event-content {
    margin: 0px;
    border: valo-border();
    padding-top: 1px;
  }

  .v-singleline {
    margin: 5px 5px 5px 5px;
    vertical-align: middle;
    text-align: left;
  }

  .v-panel-caption-box {
    line-height: 16px;
    //color:blue;
  }

  .v-label.h1.no-margin {
    color: #115bdc;
  }

  .invisible {
    display: none;
    width: 0px;
    height: 0px;
    line-height: 0px;
  }

  .v-window-wrap, .v-tabsheet-tabsheetpanel {
    background-color: #fffff0 !important;
  }

  .v-formlayout-captioncell {
    text-align: right;
  }

  .gantt .col {
    min-width: 36px !important;
  }

  .gantt .bar.has-sub-steps {
    background-color: transparent !important;
  }

  .svg-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .svg-icon path {
    fill: #ff0000;
  }

  .v-window-maximizebox:before {
    font-family: "Vaadin-Icons";
    font-size: medium;
    content: "\E776";
  }

  .v-window-restorebox:before {
    font-family: "Vaadin-Icons";
    font-size: medium;
    content: "\E76B";
  }

  .v-window-closebox:before {
    font-family: "Vaadin-Icons";
    font-size: medium;
    content: "\E7AD";
  }

  .v-loading-indicator-wait {
    width: 96%;
    .v-ff & {
      width: 90%;
    }
    @include animation(v-progress-wait 5s forwards, v-progress-wait 4s infinite backwards);
  }

  .v-loading-indicator[style*="none"]:before {
    display: none;
  }

  .v-loading-indicator-delay:before, .v-loading-indicator-wait:before {
    content: "";
    position: fixed;
    background: #fff url(../valo/shared/img/spinner.gif) no-repeat 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    animation: valo-animate-in-fade 0.3s;
    opacity: 0.5;
  }

  //.v-loading-indicator:before {
  //  content: "";
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  margin: 0;
  //  padding: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: transparent;
  //  pointer-events: auto; // force disable of mouse
  //}
}

